@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/eot/IRANYekanWebBold.eot");
    src: url("/assets/fonts/woff2/IRANYekanWebBold.woff2") format("woff2"),
      url("/assets/fonts/woff/IRANYekanWebBold.woff") format("woff"),
      url("/assets/fonts/ttf/IRANYekanWebBold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url("/assets/fonts/eot/IRANYekanWebThin.eot");
    src: url("/assets/fonts/woff2/IRANYekanWebThin.woff2") format("woff2"),
      url("/assets/fonts/woff/IRANYekanWebThin.woff") format("woff"),
      url("/assets/fonts/ttf/IRANYekanWebThin.ttf") format("truetype");
  }
  
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/eot/IRANYekanWebRegular.eot");
    src: url("/assets/fonts/woff2/IRANYekanWebRegular.woff") format("woff2"),
      url("/assets/fonts/woff/IRANYekanWebRegular.woff") format("woff"),
      url("/assets/fonts/ttf/IRANYekanWebRegular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/eot/IRANYekanWebLight.eot");
    src: url("/assets/fonts/woff2/IRANYekanWebLight.woff2") format("woff2"),
     url("/assets/fonts/woff/IRANYekanWebLight.woff") format("woff"),
     url("/assets/fonts/ttf/IRANYekanWebLight.ttf") format("truetype");
  }
  
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/eot/IRANYekanWebMedium.eot");
    src: url("/assets/fonts/woff2/IRANYekanWebMedium.woff2") format("woff2"),
     url("/assets/fonts/woff/IRANYekanWebMedium.woff") format("woff"),
     url("/assets/fonts/ttf/IRANYekanWebMedium.ttf") format("truetype");
  }
  